.input
    position: relative
    margin-bottom: 10px
    &__field,
    &__textarea
        font-size: $base-fs
        padding 0.75em 1.2em
        background-color $input-bg
        border 1px solid $input-border
        outline none
        border-radius $input-border-radius
        color $input-color
        transition all 0.2s linear
        width: 100%
        position relative
        z-index: 2
        -webkit-appearance: none

        +placeholder()
            color lighten($color-grey, 20%)
        &:hover
            border-color $input-border-hover

        &:focus
            outline none
            border-color $input-border-focus

    &__textarea
        resize none
        height 140px

    &__label
        font-size: $base-fs
        margin-bottom 8px
        display: block;
    &__label-text
        font-family: $base-ff-regular


    &__checkbox
        position absolute
        opacity 0.01
        width 1px
        height 1px
        left -6000px

    &_checkbox
        & ^[0]__label
            position relative
            display inline-block
            cursor pointer
            padding-left: 30px
            line-height: 1.3
            user-select none
            margin-bottom: 0
            &:before
                content ''
                position: absolute;
                left 0
                background #fff
                width 20px
                height @width
                border-radius: 2px
                border 1px solid #d1d1d1
                transition all 0.2s linear
            &:after
                icon(icon_check)
                position: absolute;
                width 20px
                text-align: center;
                line-height: 20px
                left 0px
                top 0
                color #fff
            &:hover
                &:before
                    border-color: $color-main-hover

    &_checkbox.checked
        & ^[0]__label
            &:before
                background-color: $color-main
                border-color: $color-main
            //&:after




    &__error
        display: block
        visibility: hidden;
        position: relative
        font-size: $fsH5
        width 100%
        color: #fff
        background-color: $input-error
        border 1px solid $input-error
        white-space: nowrap;
        opacity: 0
        max-height: 0px
        overflow: hidden;
        transition all 0.4s ease-in-out
        z-index: 1
        margin-top: -3px
        border-radius: 0 0 3px 3px

    &__error-text
        padding 0.9em 1.2em 0.8em


    &_required
        & ^[0]__label
            &:after
                content ' *'
                color $color-red

    &.error
        & ^[0]__text
            border-color rgba($input-border-error, 0.8)
            color $input-error
            &:hover
                color $input-error
                border-color  rgba($input-border-error, 0.9)

            &:focus
                color $input-error
                border-color rgba($input-border-error, 1)

        & ^[0]__error
            visibility: visible;
            opacity: 1
            max-height: 100px

    &_range
        width 50%
        margin-bottom: 0
        z-index: 1

        & ^[0]__field
            padding 0.4em 1.2em
            padding-left 35px

        & ^[0]__label
            margin-bottom: 0
        & ^[0]__label-text
            position: absolute;
            width 30px
            padding-left 10px
            color $color-grey
            pos-center-h()
            z-index: 2

        &:first-child
            & ^[0]__field
                border-radius: $input-border-radius 0 0 $input-border-radius
        &:last-child
            margin-left: -1px
            & ^[0]__field
                border-radius: 0 $input-border-radius $input-border-radius 0
        &:hover, &.focus
            z-index: 2
