.offer-card
    cf()
    &__col
        float left
        margin-right: 20px
        &:last-child
            margin-right 0
        &_img
            width 200px
        &_main
            width 300px
    &__img
        max-width: 100%
        display: block;
    &__title
        font-size: $fsH3
        font-family: $base-ff-bold
        line-height: 1.4
        margin-bottom: 10px
    &__address
        font-size: $fsH4
        line-height: 1.4
    &__type
        opacity: 0.5
