.icon
    font-family $icomoon
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon_persons-water
    &:before
        content icon_persons-water
.icon_pressure
    &:before
        content icon_pressure
.icon_sort
    &:before
        content icon_sort
.icon_search
    &:before
        content icon_search
.icon_envelope-o
    &:before
        content icon_envelope-o
.icon_heart
    &:before
        content icon_heart
.icon_star
    &:before
        content icon_star
.icon_star-o
    &:before
        content icon_star-o
.icon_user
    &:before
        content icon_user
.icon_list-th
    &:before
        content icon_list-th
.icon_check
    &:before
        content icon_check
.icon_close
    &:before
        content icon_close
.icon_gear
    &:before
        content icon_gear
.icon_trash-o
    &:before
        content icon_trash-o
.icon_lock
    &:before
        content icon_lock
.icon_flag
    &:before
        content icon_flag
.icon_pencil
    &:before
        content icon_pencil
.icon_map-marker
    &:before
        content icon_map-marker
.icon_question-circle
    &:before
        content icon_question-circle
.icon_info-circle
    &:before
        content icon_info-circle
.icon_exclamation-circle
    &:before
        content icon_exclamation-circle
.icon_leaf
    &:before
        content icon_leaf
.icon_eye
    &:before
        content icon_eye
.icon_eye-slash
    &:before
        content icon_eye-slash
.icon_exclamation-triangle
    &:before
        content icon_exclamation-triangle
.icon_warning
    &:before
        content icon_warning
.icon_thumbs-up-o
    &:before
        content icon_thumbs-up-o
.icon_thumbs-down-o
    &:before
        content icon_thumbs-down-o
.icon_heart-o
    &:before
        content icon_heart-o
.icon_phone
    &:before
        content icon_phone
.icon_unlock
    &:before
        content icon_unlock
.icon_bell-o
    &:before
        content icon_bell-o
.icon_list-ul
    &:before
        content icon_list-ul
.icon_envelope
    &:before
        content icon_envelope
.icon_lightbulb-o
    &:before
        content icon_lightbulb-o
.icon_bell
    &:before
        content icon_bell
.icon_flag-o
    &:before
        content icon_flag-o
.icon_unlock-alt
    &:before
        content icon_unlock-alt
.icon_pagelines
    &:before
        content icon_pagelines
.icon_filter
    &:before
        content icon_filter
.icon_trash
    &:before
        content icon_trash
.icon_street-view
    &:before
        content icon_street-view
.icon_map-signs
    &:before
        content icon_map-signs
.icon_map-o
    &:before
        content icon_map-o
.icon_map
    &:before
        content icon_map
.icon_envira
    &:before
        content icon_envira
