icomoon-font-path ?= "fonts"

icon_persons-water = "\e900"
icon_pressure = "\e901"
icon_sort = "\e902"
icon_search = "\f002"
icon_envelope-o = "\f003"
icon_heart = "\f004"
icon_star = "\f005"
icon_star-o = "\f006"
icon_user = "\f007"
icon_list-th = "\f00b"
icon_check = "\f00c"
icon_close = "\f00d"
icon_gear = "\f013"
icon_trash-o = "\f014"
icon_lock = "\f023"
icon_flag = "\f024"
icon_pencil = "\f040"
icon_map-marker = "\f041"
icon_question-circle = "\f059"
icon_info-circle = "\f05a"
icon_exclamation-circle = "\f06a"
icon_leaf = "\f06c"
icon_eye = "\f06e"
icon_eye-slash = "\f070"
icon_exclamation-triangle = "\f071"
icon_warning = "\f071"
icon_thumbs-up-o = "\f087"
icon_thumbs-down-o = "\f088"
icon_heart-o = "\f08a"
icon_phone = "\f095"
icon_unlock = "\f09c"
icon_bell-o = "\f0a2"
icon_list-ul = "\f0ca"
icon_envelope = "\f0e0"
icon_lightbulb-o = "\f0eb"
icon_bell = "\f0f3"
icon_flag-o = "\f11d"
icon_unlock-alt = "\f13e"
icon_pagelines = "\f18c"
icon_filter = "\f1de"
icon_trash = "\f1f8"
icon_street-view = "\f21d"
icon_map-signs = "\f277"
icon_map-o = "\f278"
icon_map = "\f279"
icon_envira = "\f299"

