$opensans       = "OpenSansRegular", Arial, Helvetica, sans-serif;
$opensansitalic       = "OpenSansItalic", Arial, Helvetica, sans-serif;
$opensansbold   = "OpenSansBold", Arial, Helvetica, sans-serif;
$opensanslight   = "OpenSansLight", Arial, Helvetica, sans-serif;
$opensanssemibold   = "OpenSansSemiBold", Arial, Helvetica, sans-serif;
$opensanssemibolditalic   = "OpenSansSemiBoldItalic", Arial, Helvetica, sans-serif;

$base-ff        = $opensans
$base-ff-italic = $opensansitalic
$base-ff-light  = $opensanslight
$base-ff-bold   = $opensansbold
$base-ff-semibold = $opensanssemibold
$base-ff-semibolditalic = $opensanssemibolditalic

$base-fs = 14px
$base-fc = #333
$base-lh = 2.1

$color-main = #00b7cd
$color-main-hover = #0078a4
$color-second = #e6bb46
$color-second-hover = darken($color-second, 20%)

$color-main-dark = #0076a1


$color-blue = #00b7cd
$color-red = red
$color-green = #00993b
$color-yellow = #ffe400
$color-orange = #f3b114
$color-grey = #999
$color-grey-dark = #555
$color-grey-light = lighten($color-grey, 60%)


$color-border = #cecece

$color-link = $color-second
$color-link-hover = $color-second-hover

$input-error = $color-red
$input-bg = #fff
$input-bg-error = #ffd3d5
$input-border = $color-border
$input-border-hover = $color-main
$input-border-focus = $color-main
$input-border-error = $input-error
$input-color = $base-fc
$input-color-error = $input-error
$input-color-placeholder = #888

//select
$select-border = #dedede
$select-border-active = $color-main
$select-item-active-bg = $color-main
//Font size

$fsH1 = 36px
$fsH2 = 24px
$fsH3 = 18px
$fsH4 = 16px
$fsH5 = 12px

//color-menu

//z-index
