.form
    &__fieldset
        margin-top: 20px
    &__fieldset-header
        border-bottom 2px solid $color-border
        margin-bottom: 25px
        padding-bottom 10px
    &__fieldset-title
        font-size: $fsH2
