fontFace('OpenSansRegular')
fontFace('OpenSansItalic')
fontFace('OpenSansBold')
fontFace('OpenSansSemiBold')
fontFace('OpenSansLight')

@font-face
    font-family 'icomoon-water'
    src url('../fonts/icomoon-water/icomoon-water.ttf?7y6vqp') format('truetype'), url('../fonts/icomoon-water/icomoon-water.woff?7y6vqp') format('woff'), url('../fonts/icomoon-water/icomoon-water.svg?7y6vqp#icomoon-water') format('svg')
    font-weight normal
    font-style normal
