.container
    center(max-width: 1240px, pad: 20px)

.container-content
    center(max-width: 1000px, pad: 20px)

.row
    cf()

for i in (1..12)
    .col_{i}
        column(i/12, offset: 0, gutter: 2)
//
//     .shift_{i}
//         shift(i/12, offset: 0, gutter: 3.67)
