.page
    &__row
        margin-top: 20px
        display: flex
        justify-content: space-between;

    &__col-main
        width 100%
        margin-right: 20px
    &__col-aside-inner
        width 260px
