.search
    &__content
        margin-top: 20px
        display: flex
        justify-content: space-between;

    &__content-main
        width 70%
    &__content-aside
        width 28%

    &__results-count
        font-family: $base-ff-bold
