.search
    &__content
        margin-top: 20px
        display: flex
        justify-content: space-between;

    &__content-main
        width 100%
        margin-right: 20px
    &__content-aside-inner
        width 260px

    &__results-count
        font-family: $base-ff-bold
