.offer-card
    position: relative;
    padding 20px
    &:hover
        background-color: lighten($color-second, 90%)
    &__row
        //cf()
        display: flex
        &_wrapper
            align-items: stretch;
    &__col
        //float left
        margin-right: 20px
        &:last-child
            margin-right 0
        &_img
            width 200px
        &_main
            width 300px

        &_props
            padding-top 3px

    &__wrap-info
        display: flex
        //min-height 150px
        height 100%//хак для chrome
        flex-direction: column;
        justify-content: space-between;
    &__img
        max-width: 100%
        display: block;
    &__title
        font-size: $fsH3
        font-family: $base-ff-bold
        line-height: 1.4
        margin-bottom: 10px
    &__address
        font-size: $fsH4
        line-height: 1.4
        margin-bottom: 10px
    &__type
        opacity: 0.5

    &__prop
        color $color-grey
        padding-left 40px
        position: relative;
        line-height: 1.4
        margin-bottom: 15px
        &:before
            icon()
            color $color-grey-light
            font-size: 20px
            position: absolute;
            left 0
            width 30px
            text-align: center;
            pos-center-h()
        &_distance
            &:before
                icon(icon_map-marker)
        &_pressure
            &:before
                icon(icon_pressure)

    &__rating
        position: absolute;
        right 20px
        top 20px
        font-size: $fsH3

    &__visitors
        position: absolute;
        right 20px
        bottom 30px
        font-size: 12px
        padding-left 30px
        color $color-grey-light
        &:before
            icon(icon_persons-water)
            color $color-grey-light
            font-size: 20px
            position: absolute;
            left 0
            width 30px
            text-align: center;
            pos-center-h()
    &__buttons
        margin-top: 15px
    &__button
        display: inline-block;
        font-size: $base-fs
        height 30px
        padding 0 20px
        padding-left 40px
        line-height: 28px
        border-radius $button-border-radius
        border 1px solid $color-border
        cursor pointer
        position: relative;
        margin-right: 10px
        transition: all 0.3s ease
        &:before
            icon()
            position: absolute;
            pos-center-h()
            color $color-grey
            left 0
            width 40px
            font-size: 16px
            text-align: center;
        &:hover
            background-color $button-bg-grey_hover

        &_favorite
            &:before
                content: icon_heart-o
        &_will
            &:before
                content: icon_flag-o
        &_did
            &:before
                content: icon_check
